@import "tailwindcss";



@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

/* Dark mode preferences */
@variant dark (@media (prefers-color-scheme: dark));

/* Base styles */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), sans-serif;
}